@import "tailwindcss";


html{
scroll-behavior:smooth;
}


body{
background:#050505;
overflow-x:hidden;
}


::-webkit-scrollbar{
width:8px;
}


::-webkit-scrollbar-thumb{
background:#5cff00;
border-radius:20px;
}


.section-title{

font-family:var(--font-oswald);

font-size:clamp(2.5rem,5vw,5rem);

font-weight:700;

line-height:1;

text-transform:uppercase;

}